language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
 
matrix:
    allow_failures:
        - php: hhvm

services: mongodb

before_script:
    - echo "extension=mongo.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
    - composer update --dev

notifications:
  email: travis-ci@generation-multiple.com
